# Project exclude paths
/.gradle/
src/main/java/bin/apply/sys/run/ForceQuit.java
src/main/java/bin/apply/sys/run/Sleep.java
src/main/java/bin/apply/sys/run/TryCatch.java
src/main/java/bin/calculator/bool/CompareCalculator.java
src/main/java/bin/math/random/RandomBoolean.java
src/main/java/bin/math/random/RandomDouble.java
src/main/java/bin/math/random/RandomFloat.java
src/main/java/bin/math/random/RandomInteger.java
src/main/java/bin/math/random/RandomLong.java
src/main/java/bin/math/sum/list/FloatListSum.java
src/main/java/bin/math/sum/list/IntegerListSum.java
src/main/java/bin/math/sum/list/LongListSum.java
src/main/java/bin/math/sum/set/FloatSetSum.java
src/main/java/bin/math/sum/set/IntegerSetSum.java
src/main/java/bin/math/sum/set/LongSetSum.java
src/main/java/bin/orign/console/Input.java
src/main/java/bin/orign/console/Print.java
src/main/java/bin/orign/console/Println.java
src/main/java/bin/orign/console/PrintSpace.java
src/main/java/bin/orign/console/PrintTap.java
src/main/java/bin/orign/console/PriorityPrint.java
src/main/java/bin/orign/console/PriorityPrintln.java
src/main/java/bin/orign/console/PriorityPrintSpace.java
src/main/java/bin/orign/console/PriorityPrintTap.java
src/main/java/bin/orign/loop/For.java
src/main/java/bin/orign/loop/ForEach.java
src/main/java/bin/orign/loop/If.java
src/main/java/bin/orign/loop/While.java
src/main/java/bin/orign/variable/list/get/ListAdd.java
src/main/java/bin/orign/variable/list/get/ListClear.java
src/main/java/bin/orign/variable/list/get/ListDelete.java
src/main/java/bin/orign/variable/list/get/ListGet.java
src/main/java/bin/orign/variable/list/get/ListIsEmpty.java
